/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono";
  --p-size: 18px;
  --bg-img: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --hero-color: #db00ff;
  --accent-color: #ff0070;
  --color-menu: #ff0070;
  --color-heading: #ff0070;
  --color-subheading: #000028;
  --visible: flex;
  --color-main-text: #f1b2ce;
  --color-menu-button-hover: rgba(255, 0, 112, 40%);
}